<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cryptocatalysts | Login</title>
    <link rel="stylesheet" href="/static/styles.css" />
</head>

<body>
    <header>
        <nav>
            <ul class="nav-links">
                <li><a href="/cserveregistration" class="nav-link">Register</a></li>
                <li><a href="/contractserve" class="nav-link">Contract</a></li>
                <li><a href="/searches" class="nav-link">Search</a></li>
                <li><a href="/contractlist" class="nav-link">Contracts</a></li>
            </ul>
        </nav>
    </header>
    <div class="wrapper">
        <h2>Client Login</h2>
        <form id="loginform" action="/cconfirmlogin" method="POST">
            <div class="input-box">
                <label>
                    <input type="email" placeholder="Your email" name="email" required>
                    <i class='bx bxs-user'></i>
                </label>
            </div>
            <div class="input-box">
                <label>
                    <input type="text" placeholder="Your username" name="cname" required>
                    <i class='bx bxs-user'></i>
                </label>
            </div>
            <div class="input-box">
                <div class="register-link">
                    <button type="submit" class="btn">Login</button>
                </div>
            </div>
        </form>
    </div>

    <footer>
        <p>&copy; 2024 Cryptocatalysts</p>
    </footer>

</body>

</html>