<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cryptocatalysts | Registration</title>
    <link rel="stylesheet" href="/static/styles.css" />
</head>

<body>
        <h2>Client Registration</h2>
        <form id="regform" action="/csaveregistration" method="POST">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="location">Location</label>
                <input id="location" name="location" required />
            </div>
            <div class="form-group">
                <label for="account">Account</label>
                <input id="account" name="account" required />
            </div>
            <div class="form-group">
                <label for="description">Your Bio</label>
                <textarea id="bio" name="bio" required></textarea>
            </div>
            <button type="submit">Register</button>
        </form>
        <p>
            If you already have an account...
            <a href="/cservelogin" class="nav-link" style="background-color: black;">Login instead</a>
        </p>
    </div>

    <footer>
        <p>&copy; 2024 Cryptocatalysts</p>
    </footer>

</body>

</html>