<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    <meta http-equiv="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title><br>
    <link rel="stylesheet" href="/static/styles.css" />
    </head>
    <body>
        <header>
            <nav>
                <ul class="nav-links">
                    <li><a href="/cserveregistration" class="nav-link">Register</a></li>
                    <li><a href="/contractserve" class="nav-link">Contract</a></li>
                    <li><a href="/searches" class="nav-link">Search</a></li>
                </ul>
            </nav>
        </header>
        <div class="wrapper">
            <form action="/csaveregistration" method="POST">
                    <h1>Sign Up</h1> 
                    <div class="input-box">
                        <label>
                            <input type="text" placeholder="Your username" name="name" required>
                            <i class='bx bxs-user'></i>
                        </label>
                    </div>
                    <div class="input-box">
                        <label>
                            <input type="email" placeholder="Your email" name="email" required>
                            <i class='bx bxs-user'></i>
                        </label>
                    </div>
                    <div class="input-box">
                        <label>
                            <input type="text" placeholder="Your location" name="location" required>
                            <i class='bx bxs-user'></i>
                        </label>
                    </div>
                    <div class="input-box">
                        <label>
                            <input type="text" placeholder="Your account" name="account" required>
                            <i class='bx bxs-user'></i>
                        </label>
                    </div>
                    <div class="input-box">
                        <label>
                            <input type="text" placeholder="Your bio" name="bio" required>
                            <i class='bx bxs-user'></i>
                        </label>
                    </div>
                    <div class="register-link">
                        <button type="submit" class="btn">Sign Up</button>
                    </div>
    </body>
</html>