<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Init</title>
    <link href="/static/styles.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav>
            <ul class="nav-links">
                <li><a href="/cserveregistration" class="nav-link">Register</a></li>
                <li><a href="/contractserve" class="nav-link">Contract</a></li>
                <li><a href="/searches" class="nav-link">Search</a></li>
                <li><a href="/contractlist" class="nav-link">Contracts</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div style="width: fit-content; height: fit-content; padding: 1rem; margin: 2rem auto; border: 1px solid rgba(30, 30, 30, 0.4);">
            <div>
                <div>This contract is expected to run in the duration detailed below:
                    <br/>
                    <br />Start date: {{ .Contract.Start }}
                    <br/>
                    <br />End date: {{ .Contract.End }}
                    <br/>
                    <br />It is expected to last the duration of {{ .Contract.Duration }} days.
                </div>
            </div>
            <div>
                <br/>
                <hr />
                <br/>
                <br/>
                <br />
                <div>Cost: {{ .Contract.Cost }}</div>
                <div>Payer: {{ .Contract.Owner }}</div>
                <div>Contructor: {{ .Contract.Awarded}}</div>
                <div>The contract is in digital form and you may use the following address to quesry any further details in this website 
                    <br/>
                    <br>
                    {{ .Contract.Address}}
                </div>
            </div>
            <div style="width: fit-content; margin: 2rem auto 1rem">
                {{ if .Finalize }}
                <form action="/contractfinalize" method="POST">
                    <input name="address" value="{{ .Contract.Address }}" hidden />
                    <button type="submit" class="btn larger">Finalize contract</button>
                </form>
                {{ end }}
            </div>
            <div>
                <br/>
                <br/>
                <a href="/" style="text-decoration: none; font-size: large; color: rgb(3, 65, 67);">Home</a>
            </div>
        </div>
    </main>
</body>
</html>