<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client</title>
    <link href="/static/styles.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav>
            <ul class="nav-links">
                <li><a href="/cserveregistration" class="nav-link">Register</a></li>
                <li><a href="/contractserve" class="nav-link">Contract</a></li>
                <li><a href="/searches" class="nav-link">Search</a></li>
                <li><a href="/contractlist" class="nav-link">Contracts</a></li>
            </ul>
        </nav>
    </header>
    <main class="wrapper">
        <form action="/contractconfirmation" method="POST">
            <div class="input-box">
                <label>
                    <input type="text" placeholder="your username" name="client" required>
                    <i class='bx bxs-user'></i>
                </label>
            </div>
            <div class="input-box">
                <label>
                    <input type="text" placeholder="your identification number" name="id" required>
                    <i class='bx bxs-user'></i>
                </label>
            </div>
            <div class="input-box">
                <label>
                    <input type="text" placeholder="the total amount involved" name="amount" required>
                    <i class='bx bxs-user'></i>
                </label>
            </div>
            <div class="input-box">
                <label>
                    <input type="text" placeholder="intended recipient" name="recipient" required>
                    <i class='bx bxs-user'></i>
                </label>
            </div>
            <div class="input-box">
                <label>
                    <input type="text" placeholder="duration of the contract" name="duration" required>
                    <i class='bx bxs-user'></i>
                </label>
            </div>
            <div class="input-box">
                <div class="register-link">
                    <button type="submit" class="btn">Create contract</button>
                </div>
            </div>
        </form>
    </main>
</body>
</html>