<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client</title>
    <link href="/static/styles.css" rel="stylesheet" />
</head>
<body>
    <nav>
        <a href="/" class="nav-link">Home</a>
    </nav>
    <form action="/contractconfirmation" method="POST">
        <div class="form-control">
            <input type="text" name="client" placeholder="client" />
        </div>
        <div class="form-control">
            <input type="text" name="id" placeholder="id number" />
        </div>
        <div class="form-control">
            <input type="text" name="amount" placeholder="Amount" />
        </div>
        <div class="form-control">
            <input type="text" name="recipient" placeholder="recipient" />
        </div>
        <div class="form-control">
            <input type="text" name="duration" placeholder="Duration" />
        </div>
        <div>
            <input type="submit" value="Submit" class="submit" />
        </div>
    </form>
</body>
</html>