<!DOCTYPE html>
        <html lang="en">
        
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="icon" href="logo.jpeg" type="image/jpeg">
            <title>Cryptocatalysts - Bridging the Service Gap</title>
            <link rel="stylesheet" href="/static/styles.css">
        </head>
        
        <body>
            <header>
                <nav>
                    <ul class="nav-links">
                        <li><a href="/cserveregistration" class="nav-link">Register</a></li>
                        <li><a href="/contractserve" class="nav-link">Contract</a></li>
                        <li><a href="/searches" class="nav-link">Search</a></li>
                        <li><a href="/contractlist" class="nav-link">Contracts</a></li>
                    </ul>
                </nav>
            </header>
            <main class="hero">
                <h1>Page not found!</h1>
            </main>
        
            <footer>
                <div class="footer-content">
                    <p>&copy; 2024 Cryptocatalysts. All rights reserved.</p>
                </div>
            </footer>
        
        </body>
        
        </html>