<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cryptocatalysts</title>
    <link rel="stylesheet" href="/static/styles.css" />
</head>
<body>
    <header>
        <nav>
            <ul class="nav-links">
                <li><a href="/cserveregistration" class="nav-link">Register</a></li>
                <li><a href="/contractserve" class="nav-link">Contract</a></li>
                <li><a href="/searches" class="nav-link">Search</a></li>
            </ul>
        </nav>
    </header>
    <div class="wrapper">
        <form action="/contractview" method="POST">
            <div class="input-box">
                <caption>
                    Enter the address of a contract whose details<br />
                     you want to know below in the input
                </caption>
            </div>
            <div class="input-box">
                <label>
                    <input type="text" placeholder="Contract address" name="address" required>
                    <i class='bx bxs-user'></i>
                </label>
            </div>
            <div class="input-box">
                    <input type="submit" class="btn" value="View Contract" />
            </div>
        </form>
    </div>
</body>
</html>
