<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cryptocatalysts</title>
    <link rel="stylesheet" href="/static/styles.css" />
</head>
<body>
    <div>
        <form action="/contractview" method="POST">
            <caption>
                Enter the address of a contract whose details<br />
                 you want to know below in the input
            </caption>
            <div>
                <input type="text" name="address" placeholder="Enter contract address" />
            </div>
            <div>
                <input type="submit" value="View Contract" />
            </div>
        </form>
    </div>
</body>
</html>
